IOT_CONNECTION_STRING=HostName=azureiothub2.azure-devices.net;DeviceId=raspberrypi-patient;SharedAccessKey=Zlusv5g+5wPi8gXGFEirjAO5kZyGntWhec/0noTDNsA=
ACCESS_KEY_CONNECTION_KEY=itIjpKegVvz9rtWN70SmAD7xpfssg4D4/CHztzsPjdhCuW/6TbGp6aKFhBnDuclDvRSZggD2ZXjj+ASt/yLkjQ==
STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=patientmonitorstorage;AccountKey=itIjpKegVvz9rtWN70SmAD7xpfssg4D4/CHztzsPjdhCuW/6TbGp6aKFhBnDuclDvRSZggD2ZXjj+ASt/yLkjQ==;EndpointSuffix=core.windows.net
BLOB_CONTAINER_NAME=patient-monitoring
DEVICE_ID=raspberrypi-patient
PIR_GPIO_PIN=17
INACTIVITY_TIMEOUT_SECONDS=60
RECORDING_DURATION_SECONDS=5
VIDEO_DIRECTORY=recordings
VIDEO_WIDTH=1280
VIDEO_HEIGHT=720
VIDEO_FRAMERATE=30
LOG_LEVEL=INFO